@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,900;1,300;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: rgb(92, 197, 232);
    --light-color: white;
    --dark-color: rgb(64, 67, 70);
}

body{
    background-color: var(--primary-color);
    margin: 0;
    min-width: 600px;
}

p{
  margin: 0;  
}
/* UTILITY CLASSES */

.hidden{
    display: none;
}

.success{
    background-color: green;
    color: var(--light-color);
}

.fail{
    background-color: red;
    color: var(--light-color);
}
/* NAV BAR */
nav{
    height: 40px;
    padding: 5px;
    background-color: var(--light-color);
    display: flex;
    justify-content: space-between;
}
nav div{ 
    display: flex;
    flex-direction: row;
}

nav div p{
    margin: 0px 5px 0px 0px;
}

#sign-out{
    cursor: pointer;
}

/* MAIN SECTION */
#main{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main div{
    
    min-width: 350px;
    text-align: center;
}

/* SIGN IN SECTION */

header{
    text-align: center;
}
h2{
    margin: 0;
}
input{
    max-width: 200px;
}
#sign-in{
     display: flex;
     flex-direction: column;
     margin: 20px;
 }

 form{
     display: flex;
     flex-direction: column;
     padding: 5px;
 }
/* NEW ACCOUNT */
 #new-account{
     background-color: pink;
 }
/* EXISTING ACCOUNT */
 #existing-account{
     background-color: lightgreen;
 }

 /* ADMIN DASHBOARD */
 #term-input{
     width: 300px;
     height: 600px;
     display: flex;
     flex-direction: column;
 }